In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("rsrc.csv")

In [11]:
targetVar = ["Participant_Id", "Median mother's height (cm) [EUPATH_0035110]", "Sex [PATO_0000047]", 
            "Mother's age (years) [EUPATH_0035109]", "Cluster study arm [EUPATH_0044124]",
            "Household Food Insecurity Access Scale (HFIAS) score [EUPATH_0011151]", "Birth order [EUPATH_0035114]",
            "Maternal education (years) [EUPATH_0011605]", "Paternal education (years) [EUPATH_0035043]"]
features = data[targetVar].dropna()
features

,Participant_Id,Median mother's height (cm) [EUPATH_0035110],Sex [PATO_0000047],Mother's age (years) [EUPATH_0035109],Cluster study arm [EUPATH_0044124],Household Food Insecurity Access Scale (HFIAS) score [EUPATH_0011151],Birth order [EUPATH_0035114],Maternal education (years) [EUPATH_0011605],Paternal education (years) [EUPATH_0035043]
3,28001_t1,146.40,Male,30.0,Sanitation,0.0,4.0,4.0,0.0
9,28002_t1,148.75,Male,25.0,Sanitation,2.0,3.0,3.0,5.0
12,28003_t1,152.15,Male,25.0,Sanitation,0.0,2.0,3.0,4.0
15,28004_t1,140.25,Female,28.0,Sanitation,0.0,4.0,5.0,8.0
20,28005_t1,150.95,Female,19.0,Sanitation,0.0,1.0,8.0,9.0
...,...,...,...,...,...,...,...,...,...
32176,99904_t1,146.55,Female,30.0,"Nutrition, water, sanitation, and handwashing",0.0,3.0,10.0,10.0
32181,99905_t1,154.70,Male,18.0,"Nutrition, water, sanitation, and handwashing",0.0,1.0,8.0,5.0
32187,99906_t1,147.10,Female,22.0,"Nutrition, water, sanitation, and handwashing",0.0,3.0,9.0,5.0
32205,99907_t1,144.70,Female,23.0,"Nutrition, water, sanitation, and handwashing",0.0,3.0,2.0,5.0
32214,99908_t1,151.20,Male,22.0,"Nutrition, water, sanitation, and handwashing",0.0,2.0,8.0,5.0

In [12]:
# These are the main assets which can help determine wealth for each individual household
# They are comprised of tech
# The variables are weighted to consider the approximate cost
asset = ["Participant_Id", "Bicycle [ENVO_01000614]", "Black and white television [EUPATH_0022011]", 
        "Color television [EUPATH_0022012]", "Electricity [EUPATH_0021084]", "Refrigerator [ENVO_01000583]", 
        "Motorcycle or scooter [ENVO_01000615]", "Acres [EUPATH_0000026]"]
encodeYN = {"Yes":1, "No":0}
assetWeight = {asset[1]:0.25, asset[2]:1, asset[3]:1.5, asset[4]:1.5, asset[5]:1, asset[6]:2}

assetVar = data[asset].dropna()
assetVar["Assets"] = assetVar["Acres [EUPATH_0000026]"]*2

for i in range(6):
    a = asset[i+1]
    weight = assetWeight[a]
    assetVar[a] = assetVar[a].replace(encodeYN)
    assetVar["Assets"] += assetVar[a]*weight
    assetVar = assetVar.drop(a, axis=1)
    
assetVar = assetVar.drop("Acres [EUPATH_0000026]", axis=1)
assetVar

      Participant_Id  Assets
3           28001_t1    2.56
9           28002_t1    1.70
12          28003_t1    0.12
15          28004_t1    1.85
20          28005_t1    1.68
...              ...     ...
32176       99904_t1    1.91
32181       99905_t1    4.60
32187       99906_t1    1.60
32205       99907_t1    3.31
32214       99908_t1    3.33

[5289 rows x 2 columns]

In [13]:
features = pd.merge(features, assetVar, on="Participant_Id").dropna()
features

,Participant_Id,Median mother's height (cm) [EUPATH_0035110],Sex [PATO_0000047],Mother's age (years) [EUPATH_0035109],Cluster study arm [EUPATH_0044124],Household Food Insecurity Access Scale (HFIAS) score [EUPATH_0011151],Birth order [EUPATH_0035114],Maternal education (years) [EUPATH_0011605],Paternal education (years) [EUPATH_0035043],Assets
0,28001_t1,146.40,Male,30.0,Sanitation,0.0,4.0,4.0,0.0,2.56
1,28002_t1,148.75,Male,25.0,Sanitation,2.0,3.0,3.0,5.0,1.70
2,28003_t1,152.15,Male,25.0,Sanitation,0.0,2.0,3.0,4.0,0.12
3,28004_t1,140.25,Female,28.0,Sanitation,0.0,4.0,5.0,8.0,1.85
4,28005_t1,150.95,Female,19.0,Sanitation,0.0,1.0,8.0,9.0,1.68
...,...,...,...,...,...,...,...,...,...,...
4367,99904_t1,146.55,Female,30.0,"Nutrition, water, sanitation, and handwashing",0.0,3.0,10.0,10.0,1.91
4368,99905_t1,154.70,Male,18.0,"Nutrition, water, sanitation, and handwashing",0.0,1.0,8.0,5.0,4.60
4369,99906_t1,147.10,Female,22.0,"Nutrition, water, sanitation, and handwashing",0.0,3.0,9.0,5.0,1.60
4370,99907_t1,144.70,Female,23.0,"Nutrition, water, sanitation, and handwashing",0.0,3.0,2.0,5.0,3.31
4371,99908_t1,151.20,Male,22.0,"Nutrition, water, sanitation, and handwashing",0.0,2.0,8.0,5.0,3.33

In [14]:
labelVar = ["Participant_Id", "Stunted [EUPATH_0035062]"]
label = data[data["Study timepoint [OBI_0001508]"]==2]
label = label[labelVar].dropna()
label["Stunted [EUPATH_0035062]"] = label["Stunted [EUPATH_0035062]"].replace(encodeYN)
label

      Participant_Id  Stunted [EUPATH_0035062]
5           28001_t1                         1
11          28002_t1                         0
14          28003_t1                         0
17          28004_t1                         1
22          28005_t1                         1
...              ...                       ...
32178       99904_t1                         0
32183       99905_t1                         0
32189       99906_t1                         1
32207       99907_t1                         1
32216       99908_t1                         0

[4584 rows x 2 columns]

In [15]:
stunted_data = pd.merge(label, features, on="Participant_Id").dropna()
stunted_data

,Participant_Id,Stunted [EUPATH_0035062],Median mother's height (cm) [EUPATH_0035110],Sex [PATO_0000047],Mother's age (years) [EUPATH_0035109],Cluster study arm [EUPATH_0044124],Household Food Insecurity Access Scale (HFIAS) score [EUPATH_0011151],Birth order [EUPATH_0035114],Maternal education (years) [EUPATH_0011605],Paternal education (years) [EUPATH_0035043],Assets
0,28001_t1,1,146.40,Male,30.0,Sanitation,0.0,4.0,4.0,0.0,2.56
1,28002_t1,0,148.75,Male,25.0,Sanitation,2.0,3.0,3.0,5.0,1.70
2,28003_t1,0,152.15,Male,25.0,Sanitation,0.0,2.0,3.0,4.0,0.12
3,28004_t1,1,140.25,Female,28.0,Sanitation,0.0,4.0,5.0,8.0,1.85
4,28005_t1,1,150.95,Female,19.0,Sanitation,0.0,1.0,8.0,9.0,1.68
...,...,...,...,...,...,...,...,...,...,...,...
4323,99904_t1,0,146.55,Female,30.0,"Nutrition, water, sanitation, and handwashing",0.0,3.0,10.0,10.0,1.91
4324,99905_t1,0,154.70,Male,18.0,"Nutrition, water, sanitation, and handwashing",0.0,1.0,8.0,5.0,4.60
4325,99906_t1,1,147.10,Female,22.0,"Nutrition, water, sanitation, and handwashing",0.0,3.0,9.0,5.0,1.60
4326,99907_t1,1,144.70,Female,23.0,"Nutrition, water, sanitation, and handwashing",0.0,3.0,2.0,5.0,3.31
4327,99908_t1,0,151.20,Male,22.0,"Nutrition, water, sanitation, and handwashing",0.0,2.0,8.0,5.0,3.33

In [16]:
encodeSex = {"Female":1, "Male":0}
stunted_data["Sex [PATO_0000047]"] = stunted_data["Sex [PATO_0000047]"].replace(encodeSex)
stunted_data = pd.get_dummies(stunted_data, columns=["Cluster study arm [EUPATH_0044124]"], drop_first=True)

In [17]:
stunted_data

,Participant_Id,Stunted [EUPATH_0035062],Median mother's height (cm) [EUPATH_0035110],Sex [PATO_0000047],Mother's age (years) [EUPATH_0035109],Household Food Insecurity Access Scale (HFIAS) score [EUPATH_0011151],Birth order [EUPATH_0035114],Maternal education (years) [EUPATH_0011605],Paternal education (years) [EUPATH_0035043],Assets,Cluster study arm [EUPATH_0044124]_Handwashing,Cluster study arm [EUPATH_0044124]_Nutrition,"Cluster study arm [EUPATH_0044124]_Nutrition, water, sanitation, and handwashing",Cluster study arm [EUPATH_0044124]_Sanitation,Cluster study arm [EUPATH_0044124]_Water,"Cluster study arm [EUPATH_0044124]_Water, sanitation, and handwashing"
0,28001_t1,1,146.40,0,30.0,0.0,4.0,4.0,0.0,2.56,0,0,0,1,0,0
1,28002_t1,0,148.75,0,25.0,2.0,3.0,3.0,5.0,1.70,0,0,0,1,0,0
2,28003_t1,0,152.15,0,25.0,0.0,2.0,3.0,4.0,0.12,0,0,0,1,0,0
3,28004_t1,1,140.25,1,28.0,0.0,4.0,5.0,8.0,1.85,0,0,0,1,0,0
4,28005_t1,1,150.95,1,19.0,0.0,1.0,8.0,9.0,1.68,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4323,99904_t1,0,146.55,1,30.0,0.0,3.0,10.0,10.0,1.91,0,0,1,0,0,0
4324,99905_t1,0,154.70,0,18.0,0.0,1.0,8.0,5.0,4.60,0,0,1,0,0,0
4325,99906_t1,1,147.10,1,22.0,0.0,3.0,9.0,5.0,1.60,0,0,1,0,0,0
4326,99907_t1,1,144.70,1,23.0,0.0,3.0,2.0,5.0,3.31,0,0,1,0,0,0
4327,99908_t1,0,151.20,0,22.0,0.0,2.0,8.0,5.0,3.33,0,0,1,0,0,0

In [18]:
stunted_data.to_csv("stunted_data.csv", index_col="Participant_Id")